<div class="wrapper">
  <div class="background">
    <div class="container">
      <div class="card">
        <mat-card class="signup-card">
          <br>
          <i class="material-icons">email</i>
          <br>
          <h2>Confirm your email address!</h2>
          <p>
            A confirmation e-mail has been sent to
          </p>
          <h4>
            <strong>{{id}}</strong>
          </h4>
          <p>Check your inbox and click on the "Confirm my email" link to confirm your email address.</p>
          <br>
          <br>
          <div class="login">
            <a routerLink="/login">Go back to Login page</a>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>