<div class="wrapper">
  <div class="background">
    <div class="container">
      <div class="card">
        <mat-card class="signup-card">
          <br>
          <br>
          <img src="assets/logo.svg" alt="logo">
          <br>
          <h3>Login to your Account</h3>
          <br>

          <mat-form-field class="example-full-width">
            <input matInput type="email" placeholder="Email" [(ngModel)]="user.email" required>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput type="password" placeholder="Password" [(ngModel)]="user.password" required>
          </mat-form-field>

          <br>

          <div class="remember">
            <mat-checkbox>Remember Me</mat-checkbox>
            <div class="forgot-link">
              <a routerLink="/forgotpassword">Forgot Password?</a>
            </div>
          </div>
          <br>
          <br>
          <button mat-raised-button (click)="login()" class="signup-button">Login to your Account</button>
          <br>
          <br>

          <div class="login">
            <p>Don't have an account?</p>
            <a routerLink="/signup">Create an account</a>
          </div>

        </mat-card>
      </div>
    </div>
  </div>
</div>