.wrapper {
    display: flex;
    width: 100%;
    min-width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}

.background {
    width: 100%;
    overflow: hidden !important;
    background: url(/assets/dark-material-bg.jpg) 0 0/cover no-repeat;
    /* background-color: grey; */
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    flex: 0 1 auto;
    place-content: center;
    overflow: auto;
    text-align: center;
}

.signup-card {
    width: 330px;
    max-height: 100%;
    margin: 50px auto;
    max-width: 330px;
    padding: 32px;
    text-align: center;
    line-height: 1.4 !important;
    letter-spacing: -.1px !important;
}

* {
    font-family: Roboto;
}

.container img {
    height: 150px;
}

.container h3 {
    text-transform: uppercase;
    font-weight: 400;
}

.example-form {
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.term {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    max-height: 100%;
    place-content: center;
    align-items: center;
}

.term a, .login a {
    padding-left: 5px;
    background-color: transparent;
    color: #039be5;
    text-decoration: none;
}

.signup-button {
    width: 200px;
    text-transform: uppercase;
}

.login {
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    max-width: 100%;
    place-content: center;
    align-items: center;
    padding-bottom: 25px;
}

.login p {
    margin-bottom: 0;
}