<div class="wrapper">
  <div class="background">
    <div class="container">
      <div class="card">
        <mat-card class="signup-card">
          <br>
          <br>
          <img src="assets/logo.svg" alt="logo">
          <br>
          <h3>Create an Account</h3>
          <br>

          <mat-form-field class="example-full-width">
            <input matInput type="text" placeholder="Firstname" [(ngModel)]="user.fname" required>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput type="text" placeholder="Lastname" [(ngModel)]="user.lname" required>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput type="email" placeholder="Email" [(ngModel)]="user.email" required>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput type="password" placeholder="Password" [(ngModel)]="user.password" required>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput type="password" placeholder="Password (Confirm)" [(ngModel)]="user.repassword" required>
          </mat-form-field>

          <br>

          <div class="term">
            <mat-checkbox>I read and accept</mat-checkbox>
            <a routerLink="/home">terms and conditions</a>
          </div>

          <br>
          <br>
          <button mat-raised-button (click)="signup()" class="signup-button">Create an Account</button>
          <br>
          <br>

          <div class="login">
            <p>Already have an account?</p>
            <a routerLink="/login">Login</a>
          </div>

        </mat-card>
      </div>
    </div>
  </div>
</div>