<div class="wrapper">
  <div class="background">
    <div class="container">
      <div class="card">
        <mat-card class="signup-card">
          <br>
          <br>
          <img src="assets/logo.svg" alt="logo">
          <br>
          <h3>Recover your Password</h3>
          <br>

          <mat-form-field class="example-full-width">
            <input matInput type="email" placeholder="Email" [(ngModel)]="user.email" required>
          </mat-form-field>

          <br>
          <br>
          <button mat-raised-button (click)="resetPassword()" class="signup-button">Send Reset Link</button>
          <br>
          <br>

          <div class="login">
            <a routerLink="/login">Go back to Login</a>
          </div>

        </mat-card>
      </div>
    </div>
  </div>
</div>